{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}Team's Calendar{% endblock %}

{% block head_javascript %}
  {{ parent() }}

  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
{% endblock %}

{% block head_stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block content_header %}
    <div class="content-header-title">
        <h1 class="title">Team's Calendar</h1>
    </div>

    <div class="page-actions">
        <div class="global-actions">
            <a class="btn btn-outline-secondary" href="#" onclick="copyCalendarSubscribeUrl(this)">
                <span class="action-label">Calendar Subscription Url</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="calendar"></div>
{% endblock %}

{% block body_javascript %}
  {{ parent() }}

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
        const calendarEl = document.getElementById('calendar');

        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          firstDay: 1,
          editable: false,
          eventSources: [
            {
              url: "{{ path('fc_load_events') }}",
              method: 'POST',
              extraParams: {
                filters: JSON.stringify({})
              },
              failure: () => {
                // alert('There was an error while fetching FullCalendar!');
              },
            },
          ],
          eventDidMount: function(info) {
            const status = info.event.extendedProps.status;

            if (status === 'pending') {
              info.el.classList.add('fc-pending-leave');
            }
          },
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth',
          },
          timeZone: 'UTC',
        });

        calendar.render();
      });
    </script>

    <script>
      function copyCalendarSubscribeUrl(button) {
        navigator.clipboard.writeText("{{ calendarSubscriptionUrl }}");
        button.innerText = 'Copied to clipboard!';
        setTimeout(() => button.innerText = 'Calendar Subscription Url', 2000);
      }
    </script>
{% endblock %}

