<div {{ attributes }}>

    {{ form_start(form) }}
    <div class="field-choice form-group mb-3">
        <div class="form-widget">
            {{ form_row(form.leaveType, {'attr': {'class': 'form-select'}}) }}
        </div>
    </div>
    <div class="field-text form-group mb-3">
        <div class="form-widget">
            {{ form_row(form.dateRange, {'attr': {'class': 'ea-request-form-date-range'}}) }}
        </div>
    </div>

    {{ infoBox|raw }}

    <div class="lr-form-actions d-flex justify-content-end gap-2 mt-4">
        <button data-loading="hide" id="submit-btn" class="btn btn-cta" {% if isSubmitDisabled %}disabled{% endif %}>
            {{ 'leave_request.new.submit'|trans(domain: 'admin') }}
        </button>
        <button data-loading="show" id="spinner" class="btn btn-cta" disabled>
            <span class="spinner-border spinner-border-sm"></span> {{ 'leave_request.new.loading'|trans(domain: 'admin') }}
        </button>
    </div>

    {{ form_end(form) }}
</div>
