<div {{ attributes }}>

    {{ form_start(form) }}
    <div class="field-choice form-group">
        <div class="form-widget">
            {{ form_row(form.leaveType, {'attr': {'class': 'form-select'}}) }}
        </div>
    </div>
    <div class="field-text form-group mb-0 ">
        <div class="form-widget">
            {{ form_row(form.dateRange, {'attr': {'class': 'ea-request-form-date-range'}}) }}
        </div>
    </div>

    {{ infoBox|raw }}

    <button data-loading="hide" id="submit-btn" class="btn btn-primary mt-2" {% if isSubmitDisabled %}disabled{% endif %}>
        Submit
    </button>
    <button data-loading="show" id="spinner" class="btn btn-primary mt-2" disabled>
        <span class="spinner-border spinner-border-sm"></span> Loading...
    </button>

    {{ form_end(form) }}
</div>