{% extends 'base.html.twig' %}

{% block title %}{{ 'invitation.page_title'|trans }}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/invitation.css') }}">
{% endblock %}

{% block body %}
    <div class="invitation-page">
        <div class="invitation-card">
            <h1>{{ 'invitation.title'|trans }}</h1>
            <p class="invitation-subtitle">{{ 'invitation.subtitle'|trans }}</p>

            {{ form_start(form) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.birthdate) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

                <button type="submit" class="btn btn-primary w-100 mt-2">
                    {{ 'invitation.submit'|trans }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
