{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/flatpickr/dist/flatpickr.min.css') }}">
{% endblock %}

{% block content_header %}
    <div class="content-header-title">
        <h1 class="title">Create New Absence Request</h1>
    </div>

    <div class="page-actions">
        <div class="global-actions">
        </div>
    </div>
{% endblock %}


{% block main %}
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-11">
            <div class="card shadow-sm">
                <div class="card-body ea-request-form">
                    {{ component('LeaveRequestForm') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
  {{ parent() }}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
