{% macro userDtoAvatar(userDto) %}
    <div class="pe-3 align-content-center mb-2"
         title="{{ userDto.firstName }} {{ userDto.lastName }}">
        {% if userDto.profileImageUrl %}
            <a href="{{ url('app_dashboard_app_users_detail', {'entityId': userDto.id}) }}"
               class="btn btn-lg p-0 align-content-center"
               role="button">
                <img src="{{ userDto.profileImageUrl }}" class="rounded-2"
                     style="width:65px;"
                     alt="{{ userDto.firstName }} {{ userDto.lastName }} avatar"/>
            </a>
        {% else %}
            <a href="{{ url('app_dashboard_app_users_detail', {'entityId': userDto.id}) }}"
               class="btn btn-primary btn-lg fs-3 align-content-center"
               style="min-width: 65px; min-height: 65px" role="button">
                {{ userDto.firstName[:1] }}{{ userDto.lastName[:1] }}
            </a>
        {% endif %}
    </div>
{% endmacro %}