{% macro userDtoAvatar(userDto) %}
    <div class="pe-3 align-content-center mb-2"
         title="{{ userDto.firstName }} {{ userDto.lastName }}">
        {% if userDto.profileImageUrl %}
            {% set img = userDto.profileImageUrl %}

            {% if img starts with 'http://' or img starts with 'https://' %}
                {% set src = img %}
            {% else %}
                {% set src = asset(profile_images_base_path ~ '/' ~ img) %}
            {% endif %}

            <a href="{{ url('app_dashboard_app_users_detail', {'entityId': userDto.id}) }}"
               class="p-0 align-content-center">
                <img src="{{ src }}" class="avatar-img"
                     style="width:65px;"
                     alt="{{ userDto.firstName }} {{ userDto.lastName }} avatar"/>
            </a>
        {% else %}
            <a href="{{ url('app_dashboard_app_users_detail', {'entityId': userDto.id}) }}"
               class="btn btn-primary btn-lg fs-3 avatar-placeholder">
                <span class="avatar-placeholder-text">{{ userDto.firstName[:1] }}{{ userDto.lastName[:1] }}</span>
            </a>
        {% endif %}
    </div>
{% endmacro %}