{% extends '@AppAdmin/layout.html.twig' %}

{% block page_title %}{{ 'crud.app_settings.edit.title'|trans(domain='admin') }}{% endblock %}

{% block content_header %}
    <div class="content-header-title">
        <h1 class="title">{{ 'crud.app_settings.edit.title'|trans(domain='admin') }}</h1>
    </div>

    <div class="page-actions">
        <div class="global-actions">
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="col-lg-10 col-xl-11">

        <div class="row mb-3">
            <div class="alert alert-info mt-2" role="alert">
                {{ 'crud.app_settings.source_filename'|trans(domain='admin') ~ ": " ~ app_settings_filename }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    {{ form_start(form) }}

                    <h5>{{ 'crud.app_settings.panel.leave_request'|trans(domain='admin') }}</h5>

                    <div class="field-checkbox form-group mt-3">
                        <div class="checkbox-large">
                            {{ form_widget(form.autoApprove) }}
                            {{ form_label(form.autoApprove) }}
                        </div>
                        {{ form_errors(form.autoApprove) }}
                    </div>

                    <div class="field-integer form-group">
                        <div class="form-widget">
                            {{ form_row(form.autoApproveDelay, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    {{ form_errors(form) }}

                    <button class="btn btn-primary">Save Changes</button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
